In [118]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

covid_data = "Resources/CovidNumbers.csv"
March_2019_turnstile = "Resources/Turnstile_190330.csv"
March_2020_turnstile = "Resources/Turnstile_200328.csv"
June_2019_turnstile = "Resources/Turnstile_190629.csv"
June_2020_turnstile = "Resources/Turnstile_200627.csv"

In [119]:
#data-by-modzcta.csv
#This file contains data by modified ZIP code tabulation areas (ZCTA). 
#This unit of geography is similar to ZIP codes but combines census blocks with smaller populations to allow more stable estimates of population size for rate calculation. 
#Please see description of modified ZCTAs in the technical notes section (Geography: Zip codes and ZCTAs).
#data as of 9/25/20

covid_pd = pd.read_csv(covid_data, header = 8)

covid_pd.head()

,\outl0\strokewidth0 \strokec2 MODIFIED_ZCTA,NEIGHBORHOOD_NAME,BOROUGH_GROUP,COVID_CASE_COUNT,COVID_CASE_RATE,POP_DENOMINATOR,COVID_DEATH_COUNT,COVID_DEATH_RATE,PERCENT_POSITIVE,TOTAL_COVID_TESTS\
0,10001,Chelsea/NoMad/West Chelsea,Manhattan,459.0,1947.97,23563.03,27.0,114.59,5.53,8299\
1,10002,Chinatown/Lower East Side,Manhattan,1371.0,1786.19,76755.41,161.0,209.76,6.61,20729\
2,10003,East Village/Gramercy/Greenwich Village,Manhattan,584.0,1085.47,53801.62,35.0,65.05,3.07,19041\
3,10004,Financial District,Manhattan,45.0,1232.67,3650.61,1.0,27.39,4.43,1015\
4,10005,Financial District,Manhattan,109.0,1298.22,8396.11,2.0,23.82,4.24,2569\

In [93]:
#rename the column
covid_clean_df = covid_pd.rename(columns = {"\outl0\strokewidth0 \strokec2 MODIFIED_ZCTA": "Modified_ZCTA"})
covid_clean_df.head()

,Modified_ZCTA,NEIGHBORHOOD_NAME,BOROUGH_GROUP,COVID_CASE_COUNT,COVID_CASE_RATE,POP_DENOMINATOR,COVID_DEATH_COUNT,COVID_DEATH_RATE,PERCENT_POSITIVE,TOTAL_COVID_TESTS\
0,10001,Chelsea/NoMad/West Chelsea,Manhattan,459.0,1947.97,23563.03,27.0,114.59,5.53,8299\
1,10002,Chinatown/Lower East Side,Manhattan,1371.0,1786.19,76755.41,161.0,209.76,6.61,20729\
2,10003,East Village/Gramercy/Greenwich Village,Manhattan,584.0,1085.47,53801.62,35.0,65.05,3.07,19041\
3,10004,Financial District,Manhattan,45.0,1232.67,3650.61,1.0,27.39,4.43,1015\
4,10005,Financial District,Manhattan,109.0,1298.22,8396.11,2.0,23.82,4.24,2569\

In [94]:
#covid case rate
columns_to_extract = ["Modified_ZCTA", "NEIGHBORHOOD_NAME", "BOROUGH_GROUP", "COVID_CASE_RATE"]
covid_case_rate = pd.DataFrame(covid_clean_df, columns = columns_to_extract)

covid_case_rate.shape

(178, 4)

In [95]:
covid_case_rate.head()

,Modified_ZCTA,NEIGHBORHOOD_NAME,BOROUGH_GROUP,COVID_CASE_RATE
0,10001,Chelsea/NoMad/West Chelsea,Manhattan,1947.97
1,10002,Chinatown/Lower East Side,Manhattan,1786.19
2,10003,East Village/Gramercy/Greenwich Village,Manhattan,1085.47
3,10004,Financial District,Manhattan,1232.67
4,10005,Financial District,Manhattan,1298.22

In [96]:
covid_case_rate = covid_case_rate.sort_values(by=["COVID_CASE_RATE"], ascending = False)

covid_case_rate.head()

,Modified_ZCTA,NEIGHBORHOOD_NAME,BOROUGH_GROUP,COVID_CASE_RATE
140,11369,Airport/East Elmhurst,Queens,4837.88
125,11239,East New York,Brooklyn,4688.49
139,11368,Corona/North Corona,Queens,4627.48
74,10469,Allerton/Baychester/Pelham Gardens/Williamsbridge,Bronx,4602.27
142,11372,Jackson Heights,Queens,4561.81

In [97]:
covid_case_max = covid_case_rate.nlargest(5, "COVID_CASE_RATE")

print(covid_case_max.shape)

covid_case_max.head()

(5, 4)

,Modified_ZCTA,NEIGHBORHOOD_NAME,BOROUGH_GROUP,COVID_CASE_RATE
140,11369,Airport/East Elmhurst,Queens,4837.88
125,11239,East New York,Brooklyn,4688.49
139,11368,Corona/North Corona,Queens,4627.48
74,10469,Allerton/Baychester/Pelham Gardens/Williamsbridge,Bronx,4602.27
142,11372,Jackson Heights,Queens,4561.81

In [98]:
covid_case_min = covid_case_rate.nsmallest(5, "COVID_CASE_RATE")
print(covid_case_min.shape)

covid_case_min.head()

(5, 4)

,Modified_ZCTA,NEIGHBORHOOD_NAME,BOROUGH_GROUP,COVID_CASE_RATE
42,10280,Battery Park City,Manhattan,675.77
6,10007,TriBeCa,Manhattan,933.36
10,10012,Greenwich Village/SoHo,Manhattan,1000.78
102,11215,Gowanus/Park Slope/Windsor Terrace,Brooklyn,1042.44
14,10017,East Midtown/Murray Hill,Manhattan,1066.52

In [120]:
march_2019_data = pd.read_csv(March_2019_turnstile, header = 8)
march_2019_data.head()

,\outl0\strokewidth0 \strokec2 C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS \
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/23/2019,00:00:00,REGULAR,6989774.0,0002370411 ...
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/23/2019,04:00:00,REGULAR,6989795.0,0002370413 ...
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/23/2019,08:00:00,REGULAR,6989813.0,0002370436 ...
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/23/2019,12:00:00,REGULAR,6989924.0,0002370512 ...
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/23/2019,16:00:00,REGULAR,6990200.0,0002370573 ...

In [121]:
march_2020_data = pd.read_csv(March_2020_turnstile, header = 8)
march_2020_data.head()

,\outl0\strokewidth0 \strokec2 C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS \
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/21/2020,00:00:00,REGULAR,7411940.0,0002515962 ...
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/21/2020,04:00:00,REGULAR,7411942.0,0002515966 ...
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/21/2020,08:00:00,REGULAR,7411945.0,0002515979 ...
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/21/2020,12:00:00,REGULAR,7411969.0,0002516000 ...
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/21/2020,16:00:00,REGULAR,7412028.0,0002516024 ...

In [122]:
march_2019_data.columns
mar_2019 = march_2019_data.columns[-1]
march_2019_data = march_2019_data.rename(columns = {mar_2019: "EXIT"})
columns_to_use = ['SCP', 'STATION','LINENAME', 'DATE', 'TIME', 'DESC', 'ENTRIES','EXIT']
march_2019_df = pd.DataFrame(march_2019_data, columns = columns_to_use)

march_2019_df.head()

,SCP,STATION,LINENAME,DATE,TIME,DESC,ENTRIES,EXIT
0,02-00-00,59 ST,NQR456W,03/23/2019,00:00:00,REGULAR,6989774.0,0002370411 ...
1,02-00-00,59 ST,NQR456W,03/23/2019,04:00:00,REGULAR,6989795.0,0002370413 ...
2,02-00-00,59 ST,NQR456W,03/23/2019,08:00:00,REGULAR,6989813.0,0002370436 ...
3,02-00-00,59 ST,NQR456W,03/23/2019,12:00:00,REGULAR,6989924.0,0002370512 ...
4,02-00-00,59 ST,NQR456W,03/23/2019,16:00:00,REGULAR,6990200.0,0002370573 ...

In [124]:
#march_2020_data = pd.read_csv(March_2020_turnstile, header = 8)
#mar_2020 = march_2020_data.columns[-1]
#march_2020_data = march_2020_data.rename(columns = {mar_2020: "EXIT"})
#march_2020_df = pd.DataFrame(march_2020_data, columns = columns_to_use)

#march_2020_df.head()

In [125]:
march_2020_data.columns
mar_2020 = march_2019_data.columns[-1]
march_2020_data = march_2019_data.rename(columns = {mar_2020: "EXIT"})
columns_to_use = ['SCP', 'STATION','LINENAME', 'DATE', 'TIME', 'DESC', 'ENTRIES','EXIT']
march_2020_df = pd.DataFrame(march_2020_data, columns = columns_to_use)

march_2020_df.head()

,SCP,STATION,LINENAME,DATE,TIME,DESC,ENTRIES,EXIT
0,02-00-00,59 ST,NQR456W,03/23/2019,00:00:00,REGULAR,6989774.0,0002370411 ...
1,02-00-00,59 ST,NQR456W,03/23/2019,04:00:00,REGULAR,6989795.0,0002370413 ...
2,02-00-00,59 ST,NQR456W,03/23/2019,08:00:00,REGULAR,6989813.0,0002370436 ...
3,02-00-00,59 ST,NQR456W,03/23/2019,12:00:00,REGULAR,6989924.0,0002370512 ...
4,02-00-00,59 ST,NQR456W,03/23/2019,16:00:00,REGULAR,6990200.0,0002370573 ...

In [126]:
march_2019_max = march_2019_df.groupby(["STATION", "SCP"]).max()

march_2019_max

                   LINENAME        DATE      TIME     DESC      ENTRIES  \
STATION   SCP
1 AV      00-00-00        L  03/29/2019  20:00:00  REGULAR   14552831.0
          00-00-01        L  03/29/2019  20:00:00  REGULAR   60063657.0
          00-03-00        L  03/29/2019  20:00:00  REGULAR  370615725.0
          00-03-01        L  03/29/2019  20:00:00  REGULAR    2414150.0
          00-03-02        L  03/29/2019  20:00:00  REGULAR    6328047.0
...                     ...         ...       ...      ...          ...
ZEREGA AV 00-00-01        6  03/29/2019  21:00:00  REGULAR      98964.0
          00-03-00        6  03/29/2019  21:00:00  REGULAR     873078.0
          00-03-01        6  03/29/2019  21:00:00  REGULAR     742844.0
          00-05-00        6  03/29/2019  21:00:00  REGULAR        195.0
          00-05-01        6  03/29/2019  21:00:00  REGULAR         39.0

                                                                 EXIT
STATION   SCP
1 AV      00-00-00  0016268615                                    ...
          00-00-01  0037699430                                    ...
          00-03-00  0387717447                                    ...
          00-03-01  0001032287                                    ...
          00-03-02  0000531829                                    ...
...                                                               ...
ZEREGA AV 00-00-01  0000161388                                    ...
          00-03-00  0000393300                                    ...
          00-03-01  0000132264                                    ...
          00-05-00  0000000000                                    ...
          00-05-01  0000000143                                    ...

[4295 rows x 6 columns]

In [127]:
march_2020_max = march_2020_df.groupby(["STATION", "SCP"]).max()

march_2020_max

                   LINENAME        DATE      TIME     DESC      ENTRIES  \
STATION   SCP
1 AV      00-00-00        L  03/29/2019  20:00:00  REGULAR   14552831.0
          00-00-01        L  03/29/2019  20:00:00  REGULAR   60063657.0
          00-03-00        L  03/29/2019  20:00:00  REGULAR  370615725.0
          00-03-01        L  03/29/2019  20:00:00  REGULAR    2414150.0
          00-03-02        L  03/29/2019  20:00:00  REGULAR    6328047.0
...                     ...         ...       ...      ...          ...
ZEREGA AV 00-00-01        6  03/29/2019  21:00:00  REGULAR      98964.0
          00-03-00        6  03/29/2019  21:00:00  REGULAR     873078.0
          00-03-01        6  03/29/2019  21:00:00  REGULAR     742844.0
          00-05-00        6  03/29/2019  21:00:00  REGULAR        195.0
          00-05-01        6  03/29/2019  21:00:00  REGULAR         39.0

                                                                 EXIT
STATION   SCP
1 AV      00-00-00  0016268615                                    ...
          00-00-01  0037699430                                    ...
          00-03-00  0387717447                                    ...
          00-03-01  0001032287                                    ...
          00-03-02  0000531829                                    ...
...                                                               ...
ZEREGA AV 00-00-01  0000161388                                    ...
          00-03-00  0000393300                                    ...
          00-03-01  0000132264                                    ...
          00-05-00  0000000000                                    ...
          00-05-01  0000000143                                    ...

[4295 rows x 6 columns]

In [128]:
march_2019_min = march_2019_df.groupby(["STATION", "SCP"]).min()

march_2019_min

                   LINENAME        DATE      TIME     DESC      ENTRIES  \
STATION   SCP
1 AV      00-00-00        L  03/23/2019  00:00:00  REGULAR   14529317.0
          00-00-01        L  03/23/2019  00:00:00  REGULAR   60035542.0
          00-03-00        L  03/23/2019  00:00:00  REGULAR  370609465.0
          00-03-01        L  03/23/2019  00:00:00  REGULAR    2409423.0
          00-03-02        L  03/23/2019  00:00:00  REGULAR    6320686.0
...                     ...         ...       ...      ...          ...
ZEREGA AV 00-00-01        6  03/23/2019  01:00:00  REGULAR      96920.0
          00-03-00        6  03/23/2019  01:00:00  REGULAR     868610.0
          00-03-01        6  03/23/2019  01:00:00  REGULAR     735413.0
          00-05-00        6  03/23/2019  01:00:00  REGULAR        194.0
          00-05-01        6  03/23/2019  01:00:00  REGULAR         39.0

                                                                 EXIT
STATION   SCP
1 AV      00-00-00  0016243332                                    ...
          00-00-01  0037688286                                    ...
          00-03-00  0387709609                                    ...
          00-03-01  0001030090                                    ...
          00-03-02  0000531211                                    ...
...                                                               ...
ZEREGA AV 00-00-01  0000157974                                    ...
          00-03-00  0000391372                                    ...
          00-03-01  0000131054                                    ...
          00-05-00  0000000000                                    ...
          00-05-01  0000000143                                    ...

[4295 rows x 6 columns]

In [129]:
march_2020_min = march_2020_df.groupby(["STATION", "SCP"]).min()

march_2020_min

                   LINENAME        DATE      TIME     DESC      ENTRIES  \
STATION   SCP
1 AV      00-00-00        L  03/23/2019  00:00:00  REGULAR   14529317.0
          00-00-01        L  03/23/2019  00:00:00  REGULAR   60035542.0
          00-03-00        L  03/23/2019  00:00:00  REGULAR  370609465.0
          00-03-01        L  03/23/2019  00:00:00  REGULAR    2409423.0
          00-03-02        L  03/23/2019  00:00:00  REGULAR    6320686.0
...                     ...         ...       ...      ...          ...
ZEREGA AV 00-00-01        6  03/23/2019  01:00:00  REGULAR      96920.0
          00-03-00        6  03/23/2019  01:00:00  REGULAR     868610.0
          00-03-01        6  03/23/2019  01:00:00  REGULAR     735413.0
          00-05-00        6  03/23/2019  01:00:00  REGULAR        194.0
          00-05-01        6  03/23/2019  01:00:00  REGULAR         39.0

                                                                 EXIT
STATION   SCP
1 AV      00-00-00  0016243332                                    ...
          00-00-01  0037688286                                    ...
          00-03-00  0387709609                                    ...
          00-03-01  0001030090                                    ...
          00-03-02  0000531211                                    ...
...                                                               ...
ZEREGA AV 00-00-01  0000157974                                    ...
          00-03-00  0000391372                                    ...
          00-03-01  0000131054                                    ...
          00-05-00  0000000000                                    ...
          00-05-01  0000000143                                    ...

[4295 rows x 6 columns]

In [130]:
march_2019_merge = pd.merge(march_2019_max, march_2019_min, on = ["STATION", "SCP"], how = "left")

march_2019_merge

                   LINENAME_x      DATE_x    TIME_x   DESC_x    ENTRIES_x  \
STATION   SCP
1 AV      00-00-00          L  03/29/2019  20:00:00  REGULAR   14552831.0
          00-00-01          L  03/29/2019  20:00:00  REGULAR   60063657.0
          00-03-00          L  03/29/2019  20:00:00  REGULAR  370615725.0
          00-03-01          L  03/29/2019  20:00:00  REGULAR    2414150.0
          00-03-02          L  03/29/2019  20:00:00  REGULAR    6328047.0
...                       ...         ...       ...      ...          ...
ZEREGA AV 00-00-01          6  03/29/2019  21:00:00  REGULAR      98964.0
          00-03-00          6  03/29/2019  21:00:00  REGULAR     873078.0
          00-03-01          6  03/29/2019  21:00:00  REGULAR     742844.0
          00-05-00          6  03/29/2019  21:00:00  REGULAR        195.0
          00-05-01          6  03/29/2019  21:00:00  REGULAR         39.0

                                                               EXIT_x  \
STATION   SCP
1 AV      00-00-00  0016268615                                    ...
          00-00-01  0037699430                                    ...
          00-03-00  0387717447                                    ...
          00-03-01  0001032287                                    ...
          00-03-02  0000531829                                    ...
...                                                               ...
ZEREGA AV 00-00-01  0000161388                                    ...
          00-03-00  0000393300                                    ...
          00-03-01  0000132264                                    ...
          00-05-00  0000000000                                    ...
          00-05-01  0000000143                                    ...

                   LINENAME_y      DATE_y    TIME_y   DESC_y    ENTRIES_y  \
STATION   SCP
1 AV      00-00-00          L  03/23/2019  00:00:00  REGULAR   14529317.0
          00-00-01          L  03/23/2019  00:00:00  REGULAR   60035542.0
          00-03-00          L  03/23/2019  00:00:00  REGULAR  370609465.0
          00-03-01          L  03/23/2019  00:00:00  REGULAR    2409423.0
          00-03-02          L  03/23/2019  00:00:00  REGULAR    6320686.0
...                       ...         ...       ...      ...          ...
ZEREGA AV 00-00-01          6  03/23/2019  01:00:00  REGULAR      96920.0
          00-03-00          6  03/23/2019  01:00:00  REGULAR     868610.0
          00-03-01          6  03/23/2019  01:00:00  REGULAR     735413.0
          00-05-00          6  03/23/2019  01:00:00  REGULAR        194.0
          00-05-01          6  03/23/2019  01:00:00  REGULAR         39.0

                                                               EXIT_y
STATION   SCP
1 AV      00-00-00  0016243332                                    ...
          00-00-01  0037688286                                    ...
          00-03-00  0387709609                                    ...
          00-03-01  0001030090                                    ...
          00-03-02  0000531211                                    ...
...                                                               ...
ZEREGA AV 00-00-01  0000157974                                    ...
          00-03-00  0000391372                                    ...
          00-03-01  0000131054                                    ...
          00-05-00  0000000000                                    ...
          00-05-01  0000000143                                    ...

[4295 rows x 12 columns]

In [131]:
march_2020_merge = pd.merge(march_2020_max, march_2020_min, on = ["STATION", "SCP"], how = "left")

march_2020_merge

                   LINENAME_x      DATE_x    TIME_x   DESC_x    ENTRIES_x  \
STATION   SCP
1 AV      00-00-00          L  03/29/2019  20:00:00  REGULAR   14552831.0
          00-00-01          L  03/29/2019  20:00:00  REGULAR   60063657.0
          00-03-00          L  03/29/2019  20:00:00  REGULAR  370615725.0
          00-03-01          L  03/29/2019  20:00:00  REGULAR    2414150.0
          00-03-02          L  03/29/2019  20:00:00  REGULAR    6328047.0
...                       ...         ...       ...      ...          ...
ZEREGA AV 00-00-01          6  03/29/2019  21:00:00  REGULAR      98964.0
          00-03-00          6  03/29/2019  21:00:00  REGULAR     873078.0
          00-03-01          6  03/29/2019  21:00:00  REGULAR     742844.0
          00-05-00          6  03/29/2019  21:00:00  REGULAR        195.0
          00-05-01          6  03/29/2019  21:00:00  REGULAR         39.0

                                                               EXIT_x  \
STATION   SCP
1 AV      00-00-00  0016268615                                    ...
          00-00-01  0037699430                                    ...
          00-03-00  0387717447                                    ...
          00-03-01  0001032287                                    ...
          00-03-02  0000531829                                    ...
...                                                               ...
ZEREGA AV 00-00-01  0000161388                                    ...
          00-03-00  0000393300                                    ...
          00-03-01  0000132264                                    ...
          00-05-00  0000000000                                    ...
          00-05-01  0000000143                                    ...

                   LINENAME_y      DATE_y    TIME_y   DESC_y    ENTRIES_y  \
STATION   SCP
1 AV      00-00-00          L  03/23/2019  00:00:00  REGULAR   14529317.0
          00-00-01          L  03/23/2019  00:00:00  REGULAR   60035542.0
          00-03-00          L  03/23/2019  00:00:00  REGULAR  370609465.0
          00-03-01          L  03/23/2019  00:00:00  REGULAR    2409423.0
          00-03-02          L  03/23/2019  00:00:00  REGULAR    6320686.0
...                       ...         ...       ...      ...          ...
ZEREGA AV 00-00-01          6  03/23/2019  01:00:00  REGULAR      96920.0
          00-03-00          6  03/23/2019  01:00:00  REGULAR     868610.0
          00-03-01          6  03/23/2019  01:00:00  REGULAR     735413.0
          00-05-00          6  03/23/2019  01:00:00  REGULAR        194.0
          00-05-01          6  03/23/2019  01:00:00  REGULAR         39.0

                                                               EXIT_y
STATION   SCP
1 AV      00-00-00  0016243332                                    ...
          00-00-01  0037688286                                    ...
          00-03-00  0387709609                                    ...
          00-03-01  0001030090                                    ...
          00-03-02  0000531211                                    ...
...                                                               ...
ZEREGA AV 00-00-01  0000157974                                    ...
          00-03-00  0000391372                                    ...
          00-03-01  0000131054                                    ...
          00-05-00  0000000000                                    ...
          00-05-01  0000000143                                    ...

[4295 rows x 12 columns]

In [110]:
march_2019_merge["ENTRIES CHANGE"] = march_2019_merge["ENTRIES_x"] - march_2019_merge["ENTRIES_y"]
march_2019_merge = march_2019_merge.reset_index()
march_2019_merge.head(10)

,STATION,SCP,LINENAME_x,DATE_x,TIME_x,DESC_x,ENTRIES_x,EXIT_x,LINENAME_y,DATE_y,TIME_y,DESC_y,ENTRIES_y,EXIT_y,ENTRIES CHANGE
0,1 AV,00-00-00,L,03/29/2019,20:00:00,REGULAR,14552831.0,0016268615 ...,L,03/23/2019,00:00:00,REGULAR,14529317.0,0016243332 ...,23514.0
1,1 AV,00-00-01,L,03/29/2019,20:00:00,REGULAR,60063657.0,0037699430 ...,L,03/23/2019,00:00:00,REGULAR,60035542.0,0037688286 ...,28115.0
2,1 AV,00-03-00,L,03/29/2019,20:00:00,REGULAR,370615725.0,0387717447 ...,L,03/23/2019,00:00:00,REGULAR,370609465.0,0387709609 ...,6260.0
3,1 AV,00-03-01,L,03/29/2019,20:00:00,REGULAR,2414150.0,0001032287 ...,L,03/23/2019,00:00:00,REGULAR,2409423.0,0001030090 ...,4727.0
4,1 AV,00-03-02,L,03/29/2019,20:00:00,REGULAR,6328047.0,0000531829 ...,L,03/23/2019,00:00:00,REGULAR,6320686.0,0000531211 ...,7361.0
5,1 AV,01-00-00,L,03/29/2019,20:00:00,REGULAR,263014.0,0004220187 ...,L,03/23/2019,00:00:00,REGULAR,261716.0,0004193597 ...,1298.0
6,1 AV,01-00-01,L,03/29/2019,20:00:00,REGULAR,2692666.0,0015618978 ...,L,03/23/2019,00:00:00,REGULAR,2689007.0,0015591539 ...,3659.0
7,1 AV,01-00-02,L,03/29/2019,20:00:00,REGULAR,489114.0,0001154847 ...,L,03/23/2019,00:00:00,REGULAR,481051.0,0001134613 ...,8063.0
8,1 AV,01-00-03,L,03/29/2019,20:00:00,REGULAR,955289598.0,0998668695 ...,L,03/23/2019,00:00:00,REGULAR,955274695.0,0998658160 ...,14903.0
9,1 AV,01-00-04,L,03/29/2019,20:00:00,REGULAR,100088.0,0000012661 ...,L,03/23/2019,00:00:00,REGULAR,76302.0,0000009797 ...,23786.0

In [111]:
march_2020_merge["ENTRIES CHANGE"] = march_2020_merge["ENTRIES_x"] - march_2020_merge["ENTRIES_y"]
march_2020_merge = march_2020_merge.reset_index()
march_2020_merge.head(10)

,STATION,SCP,LINENAME_x,DATE_x,TIME_x,DESC_x,ENTRIES_x,EXIT_x,LINENAME_y,DATE_y,TIME_y,DESC_y,ENTRIES_y,EXIT_y,ENTRIES CHANGE
0,1 AV,00-00-00,L,03/29/2019,20:00:00,REGULAR,14552831.0,0016268615 ...,L,03/23/2019,00:00:00,REGULAR,14529317.0,0016243332 ...,23514.0
1,1 AV,00-00-01,L,03/29/2019,20:00:00,REGULAR,60063657.0,0037699430 ...,L,03/23/2019,00:00:00,REGULAR,60035542.0,0037688286 ...,28115.0
2,1 AV,00-03-00,L,03/29/2019,20:00:00,REGULAR,370615725.0,0387717447 ...,L,03/23/2019,00:00:00,REGULAR,370609465.0,0387709609 ...,6260.0
3,1 AV,00-03-01,L,03/29/2019,20:00:00,REGULAR,2414150.0,0001032287 ...,L,03/23/2019,00:00:00,REGULAR,2409423.0,0001030090 ...,4727.0
4,1 AV,00-03-02,L,03/29/2019,20:00:00,REGULAR,6328047.0,0000531829 ...,L,03/23/2019,00:00:00,REGULAR,6320686.0,0000531211 ...,7361.0
5,1 AV,01-00-00,L,03/29/2019,20:00:00,REGULAR,263014.0,0004220187 ...,L,03/23/2019,00:00:00,REGULAR,261716.0,0004193597 ...,1298.0
6,1 AV,01-00-01,L,03/29/2019,20:00:00,REGULAR,2692666.0,0015618978 ...,L,03/23/2019,00:00:00,REGULAR,2689007.0,0015591539 ...,3659.0
7,1 AV,01-00-02,L,03/29/2019,20:00:00,REGULAR,489114.0,0001154847 ...,L,03/23/2019,00:00:00,REGULAR,481051.0,0001134613 ...,8063.0
8,1 AV,01-00-03,L,03/29/2019,20:00:00,REGULAR,955289598.0,0998668695 ...,L,03/23/2019,00:00:00,REGULAR,955274695.0,0998658160 ...,14903.0
9,1 AV,01-00-04,L,03/29/2019,20:00:00,REGULAR,100088.0,0000012661 ...,L,03/23/2019,00:00:00,REGULAR,76302.0,0000009797 ...,23786.0

In [112]:
columns_to_use = ['STATION','ENTRIES CHANGE']
march_2019_entries = pd.DataFrame(march_2019_merge, columns = columns_to_use)
march_2019_entries

        STATION  ENTRIES CHANGE
0          1 AV         23514.0
1          1 AV         28115.0
2          1 AV          6260.0
3          1 AV          4727.0
4          1 AV          7361.0
...         ...             ...
4290  ZEREGA AV          2044.0
4291  ZEREGA AV          4468.0
4292  ZEREGA AV          7431.0
4293  ZEREGA AV             1.0
4294  ZEREGA AV             0.0

[4295 rows x 2 columns]

In [115]:
columns_to_use = ['STATION','ENTRIES CHANGE']
march_2020_entries = pd.DataFrame(march_2020_merge, columns = columns_to_use)
march_2020_entries

        STATION  ENTRIES CHANGE
0          1 AV         23514.0
1          1 AV         28115.0
2          1 AV          6260.0
3          1 AV          4727.0
4          1 AV          7361.0
...         ...             ...
4290  ZEREGA AV          2044.0
4291  ZEREGA AV          4468.0
4292  ZEREGA AV          7431.0
4293  ZEREGA AV             1.0
4294  ZEREGA AV             0.0

[4295 rows x 2 columns]

In [116]:
station_change = march_2019_entries.groupby(["STATION"]).sum()["ENTRIES CHANGE"].rename("TOTAL ENTRIES")
change_2019df = pd.DataFrame(station_change) 
change_2019df

#total_count_df = march_2019_entries.groupby(["STATION"])

#total_count = total_count_df["ENTRIES CHANGE"].sum()

#total_count

                 TOTAL ENTRIES
STATION
1 AV              1.216860e+05
103 ST            2.159556e+09
103 ST-CORONA     1.168390e+05
104 ST            3.149317e+09
110 ST            6.685300e+04
...                        ...
WOODLAWN          4.173500e+04
WORLD TRADE CTR   9.087300e+04
WTC-CORTLANDT     8.055100e+04
YORK ST           7.384200e+04
ZEREGA AV         1.621900e+04

[377 rows x 1 columns]

In [117]:
station_change = march_2020_entries.groupby(["STATION"]).sum()["ENTRIES CHANGE"].rename("TOTAL ENTRIES")
change_2020df = pd.DataFrame(station_change) 
change_2020df

                 TOTAL ENTRIES
STATION
1 AV              1.216860e+05
103 ST            2.159556e+09
103 ST-CORONA     1.168390e+05
104 ST            3.149317e+09
110 ST            6.685300e+04
...                        ...
WOODLAWN          4.173500e+04
WORLD TRADE CTR   9.087300e+04
WTC-CORTLANDT     8.055100e+04
YORK ST           7.384200e+04
ZEREGA AV         1.621900e+04

[377 rows x 1 columns]

In [ ]:
june_2020_data = pd.read_csv(June_2020_turnstile, header = 8)
jun_2020 = june_2020_data.columns[-1]
june_2020_data = june_2019_data.rename(columns = {jun_2020: "EXIT"})
june_2020_df = pd.DataFrame(june_2020_data, columns = columns_to_use)

june_2020_df.head()

In [ ]:
june_2019_data = pd.read_csv(June_2019_turnstile, header = 8)
jun_2019 = june_2019_data.columns[-1]
june_2019_data = june_2019_data.rename(columns = {jun_2019: "EXIT"})
june_2019_df = pd.DataFrame(june_2019_data, columns = columns_to_use)

june_2019_df.head()